<div class="tickets__listing" data-ticket-listing>
  {% for ticket_category in site.data.tickets %}
    {% assign category = ticket_category[0] %}
    {% assign tickets = ticket_category[1] %}
    <div class="tickets__category tickets__category--{{ category }}">
      <h2>
        <span class="icon" aria-hidden="true">🎟</span>
        {{ tickets.title }}
      </h2>
      <p class="tickets__category__description">{{ tickets.description }}
      </p>

      {% for ticket in tickets.list %}
        <a href="{{ ticket.url }}" class="tickets__ticket">
          <span class="tickets__ticket--name">{{ ticket.name }}
          </span>
          <span class="tickets__ticket--price">€{{ ticket.price }}
          </span>
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>
