<!doctype html>
<html prefix="og: http://ogp.me/ns#" lang="{% if page.lang == blank %}{{ site.metadata.lang }}{% else %}{{ page.lang }}{% endif %}">
  <head>
    {% render "head", site: site, metadata: site.metadata, page: page %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    {% render "navbar", site: site, page: page %}
    <div id="content">
      {{ content }}


      <img src="{% webpack_path images/arrow_up_icon.svg %}" id="scrollToTopBtn">
    </div>

    {% if bridgetown.environment == "production" %}
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-DXFH6C3TBL"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-DXFH6C3TBL');
      </script>

    {% endif %}
  </body>
</html>