<div class="benefits__card">
  {% capture card_contents %}
    <div class="cardbox__container">
      <div class="cardbox__background cardbox__background--{{card.color | default: "green" }}"></div>
      <div class="cardbox__image">
        <img
          src="{{ image }}"
          alt="{{ card.name }}"
          loading="lazy"
        />
      </div>
    </div>
    <span class="cardbox__name"> {{ card.name }} </span>
  {% endcapture %}
  {% if card.url != blank %}
    <a href="{{ card.url }}" rel="noopener noreferrer" class="cardbox">
      {{card_contents | raw}}
    </a>
  {% else %}
    <div class="cardbox">
      {{card_contents | raw}}
    </div>
  {% endif %}

  <p class="benefits__description">{{ content }}</p>
</div>
