<div class="speakers__profile">
  <!-- TODO: add the bio -->
  {% capture card_contents %}
    <div class="profile__container">
      <div class="profile__background"></div>
      <div class="profile__image">
        <img
          src="{{ image }}"
          alt="{{ speaker.name }}"
          loading="lazy"
        />
      </div>
      {% if speaker.category == "keynote" %}
        <div class="profile__keynote">
          KEYNOTE
        </div>
      {% elsif speaker.category == "mc" %}
        <div class="profile__mc">
          <abbr title="Master of ceremonies">MC</abbr>
        </div>
      {% endif %}
    </div>
    <span class="profile__name">
      {{ speaker.name }}
    </span>
    {% if content %}<span class="profile__talk_title">{{ content }}</span>{% endif %}
  {% endcapture %}
  {% assign url_or_twitter = speaker.twitter | default: speaker.url %}
  {% assign url = url_or_twitter | default: speaker.github %}
  {% if url != blank %}
    <a
      href="{{ url }}"
      class="profile profile--keynote"
    >
      {{ card_contents | raw }}
    </a>
  {% else %}
    <div class="profile profile--{{speaker.category}}">
      {{ card_contents | raw }}
    </div>
  {% endif %}
</div>
