---
layout: home
title: ""
url: /
---

<%= liquid_render "home/animation", site: site, page: page %>
<%= liquid_render "home/banner", site: site, page: page %>
<div style="background-color: black;  width: 100%; margin 0 auto">
    <%= liquid_render "home/about", site: site, page: page %>
    <%= liquid_render "home/place", site: site, page: page %>
    <%= liquid_render "home/ticket", site: site, page: page %>
    <%= liquid_render "home/committee", site: site, page: page %>
</div>
<%= liquid_render "home/forSpeakers", site: site, page: page %>
<%= liquid_render "home/contacts", site: site, page: page %>
